name: Build PR Preview

on:
  pull_request:
    paths-ignore:
      - '.gitignore'
      - 'LICENSE'
      - '*.adoc'
      - '*.txt'
      - '.all-contributorsrc'
jobs:
  build-artefact:
    name: Build artefact
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 21
          cache: 'maven'
      - name: Build project
        run: mvn -B clean verify --file pom.xml
